#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightskyblue;
  width: 100vw;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: space-between
}

.logo {
  width: 100%;
  background-color: grey;
  font-weight: 700;
}

.swapPage {
  justify-content: right;
}

.ingredients {
  flex-direction: column;
  justify-content: left;
  width: 50%
}

.ingredientList {
  background-color: lightgray;
  max-height: 30vh;
  width: 60%;
  overflow-y: scroll;
  border: 1px, solid, black;
}

.recipeBox {
  justify-content: right
  background-color: lightgray;
  max-height: 80vh;
  overflow-y: scroll;
  border: 1px, solid, black;
}