#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightskyblue;
  width: 100vw;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  margin-right: 50%
}

.logo {
  width: 100%;
  background-color: grey;
  font-weight: 700;
}

.recipeHeader {
  font-weight: 600px;
  margin-top: 6px;
  margin-left: 5px;
}

.swapPage {
  justify-content: right;
}

.swapBtn{
  margin-left: 80%
}

.recipeName {
  font-weight: 800;
  color: rgb(42, 34, 87)
}

.recipeBtn {
  margin-top: -14px;
  margin-Bottom: 6px;
  margin-right: 8px;
}

.favoriteBtn {
  margin-top: -14px;
  margin-Bottom: 6px
}

.recipeHeader {
  font-weight: 800;
}

.ingredientsHeader {
  font-weight: 800;
  margin-left: 8%
}

.getRecipesBtn {
  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: 8%;
}

.ingredients {
  margin-left: 10px;
}

.enterIngredients {
  margin-left: 8%;
}

.submitIngredients {
  margin-left: 8%;
}

.ingredientList {
  background-color: lightgray;
  max-height: 30vh;
  width: 180%;
  margin-left: 8%;
  overflow-y: scroll;
  float: left;
  border: 1px, solid, black;
}

.recipeContainer {
  margin-left: 40px
}

.recipeBox {
  width: 180%;
  margin-left: 8%;
  justify-content: right;
  background-color: lightgray;
  max-height: 80vh;
  overflow-y: scroll;
  border: 1px, solid, black;
}

.savedRecipe {
  margin-top: 4px
}

.recipeFlat {
  margin-left: 11px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.recipeType {
  border-bottom:1px solid black;
}

.recipeHeader {
  font-weight: 600;
}

.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;
  box-sizing: border-box;
}

.modal.modal-fade {
  animation: fade-in 1s 1 linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

.cooked-btn-done{
  border: none;
}

.modal > .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal > .modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #5e5e5e;
  cursor: pointer;
  font-size: 1.25em;
  padding: 7px;
  background: rgba(255, 255, 255, 0.749);
  border: 1px solid #c3c0c0;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.modal > .modal-close:hover {
  background: rgba(255, 255, 255, 0.989);
}

.modal > .modal-body {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  background-color: #303030;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  padding: 15px 20px;
  color: #c3c0c0;
}

@keyframes fade-in {
  0% {
    animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}